mat-card-header {
  display: flex;
  justify-content: center; /* Centra el contenido del header horizontalmente */
  text-align: center; /* Asegura que el texto del header esté centrado */
}

mat-card-title {
  /* Asegura que el título esté centrado dentro del header */
  display: inline-block;
  font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold; /* Opcional: hace el texto más grueso */
}

.text-center {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  margin-top: 12px;
}

.image-container img {
  width: 25%; /* Ajusta el tamaño de la imagen a un cuarto del tamaño original */
  height: auto;
  max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
}
