<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="text-center">GRACIAS!</mat-card-title>
  </mat-card-header>

  <mat-card-content class="text-center">
      <div class="mb-3">
        <p class="thank-you-text"><b>{{ ren1 }}</b></p>
        <p class="thank-you-text"><em>{{ ren2 }}</em></p>
      </div>

      <div class="image-container d-flex justify-content-center m-t-12">
        <img class="img-fluid rounded" src="assets/images/logos/michigracias-logo.jpg">
      </div>

  </mat-card-content>
</mat-card>
