<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow theme-card">
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-6">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Sample Page</mat-card-title>
          </mat-card-header>
          <mat-card-subtitle class="mat-body-1">Ensayo</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- ============================================================== -->
<!-- Formu -->
<!-- ============================================================== -->

<!-- <mat-radio-group role="radiogroup" aria-label="Select an option" class="mat-mdc-radio-group m-t-8">
  <mat-radio-button value="1" color="primary" class="mat-mdc-radio-button">
    Credit/Debit/ATM Card
  </mat-radio-button>

  <mat-radio-button value="2" color="primary" class="mat-mdc-radio-button">
    Cash on Delivery
  </mat-radio-button>
</mat-radio-group> -->

<!-- <mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Donación para los michis</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <div class="mb-3">
      <p><b>Tu donación será utilizada para comprar alimento y mejorar sus condiciones de vida mientras son adoptados</b></p>
      <p><em>Por favor, ingrese los datos de su tarjeta de crédito o débito para proceder con la donación. Asegúrese de que toda la información sea correcta antes de enviar el formulario.</em></p>
    </div>

    <div class="row m-t-12">
      <div class="col-sm-9">
        <mat-form-field appearance="outline" color="primary" class="w-100">
          <mat-label>Numero de tarjeta</mat-label>
          <input matInput type="text" placeholder="1232 0054 0620 7564" maxlength="16">
        </mat-form-field>

        <div class="row m-t-12">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" color="primary" class="w-100">
              <mat-label>Nombre del tarjetahabiente</mat-label>
              <input matInput type="text" placeholder="John Doe">
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" color="primary" class="w-100">
              <mat-label>Fecha de vencimiento</mat-label>
              <input matInput type="text" placeholder="MM/YY" maxlength="4">
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="outline" color="primary" class="w-100">
              <mat-label>Codigo de seguridad</mat-label>
              <input matInput type="text" placeholder="251" maxlength="3">
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline" color="primary" class="w-100 m-t-12">
          <mat-label>Monto</mat-label>
          <input matInput type="number" placeholder="100.000" min="0">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>

  <div class="image-container d-flex justify-content-center m-t-12">
    <img class="img-fluid rounded" src="assets/images/logos/michipago-logo.jpg">
  </div>

  <mat-card-actions class="d-flex justify-content-center">
    <button mat-raised-button color="primary">Donar!</button>
  </mat-card-actions>
</mat-card> -->

<!-- <div class="col-sm-9">
  <mat-form-field appearance="outline" color="primary" class="w-100">
    <mat-label>Card Number</mat-label>
    <input matInput type="text" placeholder="123 200 540 620">
  </mat-form-field>

  <div class="row m-t-12">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" color="primary" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="John Doe">
      </mat-form-field>
    </div>

    <div class="col-sm-3">
      <mat-form-field appearance="outline" color="primary" class="w-100">
        <mat-label>Exp. Date</mat-label>
        <input matInput type="text" placeholder="MM/YY">
      </mat-form-field>
    </div>

    <div class="col-sm-3">
      <mat-form-field appearance="outline" color="primary" class="w-100">
        <mat-label>CCV Code</mat-label>
        <input matInput type="text" placeholder="2501">
        <mat-icon matSuffix>info</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div> -->

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Formulario de Adopción de Gato</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>


      <h3>Datos Personales del Adoptante</h3>

      <mat-form-field appearance="fill">
        <mat-label>Nombre completo</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Edad</mat-label>
        <input matInput type="number" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Domicilio</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Teléfono de contacto</mat-label>
        <input matInput type="tel" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" required>
      </mat-form-field>


      <h3>Información sobre el Hogar</h3>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de vivienda</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>¿Vivienda propia o rentada?</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>¿Permiten mascotas en la vivienda?</mat-label>
        <mat-select required>
          <mat-option value="si">Sí</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Número de personas en el hogar y relación con el adoptante</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>¿Hay otras mascotas en casa? (Especie y cantidad)</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Espacio disponible para el gato (Ej: jardín, balcón)</mat-label>
        <input matInput required>
      </mat-form-field>


      <h3>Consentimiento y Acuerdos</h3>

      <mat-checkbox required>
        Acepto las políticas de adopción de la organización
      </mat-checkbox>

      <div>
        <button mat-raised-button color="primary" type="submit">Enviar Solicitud</button>
      </div>
    </form>
  </mat-card-content>
</mat-card> -->


<!-- <mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Formulario de Adopción</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">

    <div class="mb-3">
      <p><em>Por favor, sé muy sincero al completar este formulario. La información que nos proporcionas es vital para
          asegurarnos de que el gato encuentre un hogar adecuado y seguro. </em></p>
      <p><b>Tu honestidad nos ayudará a tomar la mejor decisión para el bienestar del michi y para ti. ¡Gracias por tu
          compromiso!</b></p>
    </div>

    <div class="row m-t-12">
      <div class="col-sm-9">

        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Nombre Completo</mat-label>
          <input matInput type="text" placeholder="Daniel Chanci Restrepo" required>
        </mat-form-field>

        <div class="row m-t-12">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>Correo electrónico</mat-label>
              <input matInput type="text" placeholder="dchancir@unal.edu.co" required>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>Edad</mat-label>
              <input matInput type="number" placeholder="33" maxlength="3" min="18" required>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>Teléfono de contacto</mat-label>
              <input matInput type="text" placeholder="3126963881" maxlength="10" required>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="fill" color="primary" class="w-100 m-t-12">
          <mat-label>Domicilio</mat-label>
          <input matInput type="text" placeholder="Calle 59A # 63 - 20, Medellín, Antioquia" required>
        </mat-form-field>


        <div class="row m-t-12">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>Tipo de vivienda (casa, apartamento, finca, etc.)</mat-label>
              <input matInput type="text" placeholder="Residencia estudiantil" required>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>¿propia o rentada?</mat-label>
              <mat-select required>
                <mat-option value="propia">Propia</mat-option>
                <mat-option value="rentada">Rentada</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>¿Permiten mascotas?</mat-label>
              <mat-select required>
                <mat-option value="si">Sí</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row m-t-12">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>Número de personas en el hogar y relación con el adoptante</mat-label>
              <input matInput type="text" placeholder="3, Abuela, Madre, Hermano" required>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>¿Hay otras mascotas en casa? (Si es así, indicar especie y cantidad)</mat-label>
              <input matInput type="text" placeholder="1 Perro, 2 Gatos" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row m-t-12">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>Espacio disponible para el gato (Ej: jardín, balcón, terraza, etc.)</mat-label>
              <input matInput type="text" placeholder="Patio trasero, Area de juego interior" required>
            </mat-form-field>
          </div>
        </div>


      </div>
    </div>


    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button color="primary">Enviar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card> -->

<!-- <mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="text-center">GRACIAS!</mat-card-title>
  </mat-card-header>

  <mat-card-content class="text-center">
      <div class="mb-3">
        <p class="thank-you-text"><b>¡Gracias por tu interés en adoptar! Tu solicitud ha sido recibida y será evaluada por nuestro equipo de cuidadores.</b></p>
        <p class="thank-you-text"><em>Te informaremos lo más pronto posible una vez que hayamos revisado todos los detalles. Agradecemos tu paciencia y compromiso con nuestros michis.</em></p>
      </div>

      <div class="image-container d-flex justify-content-center m-t-12">
        <img class="img-fluid rounded" src="assets/images/logos/michigracias-logo.jpg">
      </div>

  </mat-card-content>
</mat-card> -->

<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Mis solicitudes</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
      <div class="mb-3">
        <p><b>Nuestro equipo de cuidadores revisa cada solicitud con el mayor detalle y dedicación.</b></p>
        <p><em>Te informaremos del estado de tu solicitud lo más pronto posible. Agradecemos tu interés y paciencia en este proceso.</em></p>
      </div>

      <div class="image-container d-flex justify-content-center m-t-12">
        <img class="img-fluid rounded" src="assets/images/logos/michipago-logo.jpg">
      </div>
  </mat-card-content>
</mat-card>
