<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Donación para los michis</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <div class="mb-3">
      <p><b>Tu donación será utilizada para comprar alimento y mejorar sus condiciones de vida mientras son
          adoptados</b></p>
      <p><em>Por favor, ingrese los datos de su tarjeta de crédito o débito para proceder con la donación. Asegúrese
          de que toda la información sea correcta antes de enviar el formulario.</em></p>
    </div>

    <form [formGroup]="donacionForm" autocomplete="off" (ngSubmit)="irAgrax()">
      <div class="row m-t-12">
        <div class="col-sm-6">
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Numero de tarjeta</mat-label>
            <input matInput formControlName="numTarj" type="text" placeholder="1232 0054 0620 7564" maxlength="16"
              required>
            <mat-error>{{ getErrorMessage('numTarj') }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Nombre del tarjetahabiente</mat-label>
            <input matInput formControlName="titular" type="text" placeholder="John Doe" required>
            <mat-error>{{ getErrorMessage('titular') }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-12">
        <div class="col-sm-3">
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Fecha de vencimiento</mat-label>
            <input matInput formControlName="fVence" type="text" placeholder="MM/YY" maxlength="4" required>
            <mat-error>{{ getErrorMessage('fVence') }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Codigo de seguridad</mat-label>
            <input matInput formControlName="codSeg" type="text" placeholder="251" maxlength="3" required>
            <mat-error>{{ getErrorMessage('codSeg') }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="monto" type="text" class="example-right-align" placeholder="100.000" min="0" required>
            <span matTextPrefix><mat-icon> attach_money</mat-icon></span>
            <mat-error>{{ getErrorMessage('monto') }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="image-container d-flex justify-content-center m-t-12">
        <img class="img-fluid rounded" src="assets/images/logos/michipago-logo.jpg">
      </div>

      <mat-card-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary">Donar!</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
