<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Donación para los michis</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
      <div class="mb-3">
        <p><b>Tu donación será utilizada para comprar alimento y mejorar sus condiciones de vida mientras son
            adoptados</b></p>
        <p><em>Por favor, ingrese los datos de su tarjeta de crédito o débito para proceder con la donación. Asegúrese
            de que toda la información sea correcta antes de enviar el formulario.</em></p>
      </div>

      <div class="row m-t-12">
        <div class="col-sm-9">
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Numero de tarjeta</mat-label>
            <input matInput type="text" placeholder="1232 0054 0620 7564" maxlength="16" required>
          </mat-form-field>

          <div class="row m-t-12">
            <div class="col-sm-6">
              <mat-form-field appearance="fill" color="primary" class="w-100">
                <mat-label>Nombre del tarjetahabiente</mat-label>
                <input matInput type="text" placeholder="John Doe" required>
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <mat-form-field appearance="fill" color="primary" class="w-100">
                <mat-label>Fecha de vencimiento</mat-label>
                <input matInput type="text" placeholder="MM/YY" maxlength="4" required>
              </mat-form-field>
            </div>

            <div class="col-sm-3">
              <mat-form-field appearance="fill" color="primary" class="w-100">
                <mat-label>Codigo de seguridad</mat-label>
                <input matInput type="text" placeholder="251" maxlength="3" required>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field appearance="fill" color="primary" class="w-100 m-t-12">
            <mat-label>Monto</mat-label>
            <input matInput type="number" placeholder="100.000" min="0" required>
          </mat-form-field>

        </div>
      </div>


      <div class="image-container d-flex justify-content-center m-t-12">
        <img class="img-fluid rounded" src="assets/images/logos/michipago-logo.jpg">
      </div>

      <mat-card-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="irAgrax()">Donar!</button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>
