<mat-card class="cardWithShadow theme-card">
  <mat-card-content class="b-t-1">
  <div class="row">
    <div class="col-lg-6">
      <!-- --------------------------------------------------- -->
      <!-- two line -->
      <!-- --------------------------------------------------- -->
      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>BIENVENIDO</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <mat-card-subtitle class="mat-body-1">Como estudiantes de la Universidad Nacional de Colombia sabemos que la universidad
            tiene una problemática con la población de gatos ferales que de cierta forma pueden
            representar un riesgo para la fauna y flora del campus. <br> En vez de sacrificarlos o volverlos
            arroz chino se pensó en una idea más bondadosa:  <b>Adopción</b>.</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <img src='assets/images/logos/UNAL_Logo.png' alt="Imagen de un gato" class="img-fluid rounded" style="max-width: 100%; max-height: 100%; object-fit: cover;">
    </div>
  </div>
</mat-card-content>
</mat-card>
