<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Formulario de Adopción</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">

    <div class="mb-3">
      <p><em>Por favor, sé muy sincero al completar este formulario. La información que nos proporcionas es vital para
          asegurarnos de que el gato encuentre un hogar adecuado y seguro. </em></p>
      <p><b>Tu honestidad nos ayudará a tomar la mejor decisión para el bienestar del michi y para ti. ¡Gracias por tu
          compromiso!</b></p>
    </div>

    <form [formGroup]="adopcionForm" autocomplete="off" (ngSubmit)="irAgrax()">
    <div class="row m-t-12">
      <div class="col-sm-6">
        <!--Personal-->
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="nombre" type="text" placeholder="Daniel Chanci Restrepo" required>
          <mat-error>{{ getErrorMessage('nombre') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="correo" type="email" placeholder="dchancir@unal.edu.co" required>
          <mat-error>{{ getErrorMessage('correo') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Edad</mat-label>
          <input matInput formControlName="edad" type="text" placeholder="33" maxlength="3" min="18" required>
          <mat-error>{{ getErrorMessage('edad') }}</mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row m-t-12">
      <div class="col-sm-2">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" type="text" placeholder="3126963881" maxlength="10" required>
          <mat-error>{{ getErrorMessage('telefono') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="domicilio" type="text" placeholder="Calle 59A # 63 - 20, Medellín, Antioquia" required>
          <mat-error>{{ getErrorMessage('domicilio') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Tipo de vivienda (casa, estudio, finca, etc.)</mat-label>
          <input matInput formControlName="vivienda" type="text" placeholder="Apartamento" required>
          <mat-error>{{ getErrorMessage('vivienda') }}</mat-error>
        </mat-form-field>
      </div>
    </div>



    <!--Vivienda-->
    <div class="row m-t-12">
      <div class="col-sm-3">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>¿propia o rentada?</mat-label>
          <mat-select formControlName="propiedad" required>
            <mat-option value="propia">Propia</mat-option>
            <mat-option value="rentada">Rentada</mat-option>
          </mat-select>
          <mat-error>{{ getErrorMessage('propiedad') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-3">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>¿Permiten mascotas?</mat-label>
          <mat-select formControlName="permiteMascotas" required>
            <mat-option value="si">Sí</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
          <mat-error>{{ getErrorMessage('permiteMascotas') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Número de personas en el hogar y relación con el adoptante</mat-label>
          <input matInput formControlName="personasHogar" type="text" placeholder="3, Abuela, Madre, Hermano" required>
          <mat-error>{{ getErrorMessage('personasHogar') }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row m-t-12">
      <div class="col-sm-6">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>¿Hay otras mascotas en casa? (Si es así, indicar especie y cantidad)</mat-label>
          <input matInput formControlName="otrasMascotas" type="text" placeholder="1 Perro, 2 Gatos" required>
          <mat-error>{{ getErrorMessage('otrasMascotas') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="fill" color="primary" class="w-100">
          <mat-label>Espacio disponible para el gato (Ej: jardín, balcón, terraza, etc.)</mat-label>
          <input matInput formControlName="espacioDisponible" type="text" placeholder="Patio trasero, Area de juego interior" required>
          <mat-error>{{ getErrorMessage('espacioDisponible') }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button color="primary">Enviar</button>
    </mat-card-actions>
  </form>
  </mat-card-content>
</mat-card>
