.img-container {
  width: 100%; /* Ocupa el 100% del ancho disponible del contenedor */
  height: 200px; /* Ajusta la altura deseada para las imágenes */
  border-radius: 20px; /* Bordes redondeados */
  object-fit: cover; /* Mantiene la proporción de la imagen y llena el contenedor */
  overflow: hidden; /* Oculta las partes de la imagen que se salen del contenedor */
}
