<div class="row">
  <!--StartTarjeta1Michi-->
  <div class="col-sm-6 col-lg-4" *ngFor="let michi of michislista"><mat-card
      class="mat-mdc-card mdc-card cardWithShadow"><mat-card-content class="mat-mdc-card-content text-center p-24"><img
          class="img-container" src="{{ michi.imgSrc }}">
        <h4 mat-card-title="" class="mat-mdc-card-title card-title m-t-16 m-b-0"> {{ michi.nombre }} </h4><span
          class="f-s-12">{{ michi.edad }} Años</span>
        <div class="m-t-20"><button mat-flat-button="" color="accent"
            mat-ripple-loader-class-name="mat-mdc-button-ripple"
            class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-accent mat-mdc-button-base"
            (click)="irAdopcion(michi.id)" ><span
              class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
              class="mdc-button__label">Adoptar</span><span class="mat-mdc-focus-indicator"></span><span
              class="mat-mdc-button-touch-target"></span><span class="mat-ripple mat-mdc-button-ripple"></span></button>
        </div>
        <div class="m-t-20"><span class="f-s-14"> <b>Condicion</b> <br> {{ michi.salud }}<br><br></span></div>
        <mat-divider role="separator" class="mat-divider mat-divider-horizontal"
          aria-orientation="horizontal"></mat-divider>
        <div class="m-t-20"><span class="f-s-14"> <b>Personalidad</b> <br> {{ michi.personalidad }}</span></div>
      </mat-card-content>
    </mat-card></div>
  <!--EndTarjeta1Michi-->
</div>
