.cardWithShadow {
  margin: 20px;
  padding: 20px;
}

.solicitante-info {
  max-width: 100%;
  margin-top: 20px;
}

.row {
  padding-top: 16px; /* Espacio superior */
  padding-bottom: 16px; /* Espacio inferior */
  margin-left: 0;
  margin-right: 0;
}

.m-t-6 {
  margin-top: 6px;
}

.w-100 {
  width: 100%;
}
