<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Mis solicitudes</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <div class="mb-3">
      <p><b>Nuestro equipo de cuidadores revisa cada solicitud con el mayor detalle y dedicación.</b></p>
      <p><em>Te informaremos del estado de tu solicitud lo más pronto posible. Agradecemos tu interés y paciencia en este proceso.</em></p>
    </div>

    <div class="solicitudes-container m-t-12">
      <div class="solicitud-card" *ngFor="let solicitud of listasolicitudes">
        <mat-card class="small-card">
          <mat-card-header>
            <mat-card-title>Solicitud para {{ solicitud.michi }}</mat-card-title>
          </mat-card-header>

          <mat-card-content class="b-t-1">
            <p><b>Estado:</b> <span class="estado" [ngClass]="solicitud.estado.toLowerCase()">{{ solicitud.estado }}</span></p>
            <p><b>Fecha de solicitud:</b> {{ solicitud.fecha | date }}</p>
            <p><b>Comentarios:</b> {{ solicitud.comentarios }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
